@use "../variables" as *;

.catalog-list {
  padding: 20px 0;
}

.catalog-list__container {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px 63px;
  }
}

.catalog-list__item {
  & + & {
    @media (max-width: $breakpoint-small-down) {
      margin-bottom: 19px;
    }
  }
}
