@use "../variables" as *;

.page-main__heading {
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
}

.page-main__subheading {
  font-family: $font-heading;
  font-weight: 400;
  text-transform: uppercase;
}
